<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web Portfolio Suhaefi Fauzian" />
    <title>Suhaefi Fauzian</title>
    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body class="container">
    <header class="header">
      <nav class="navbar">
        <span class="name">Hallo!</span>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a
              href="https://github.com/suhaefifzn"
              target="_blank"
              rel="noopener"
              class="nav-link"
              >My GitHub</a
            >
          </li>
        </ul>
      </nav>
      <div class="jumbotron" id="hero">
        <div class="img-wrapper">
          <img src="./me.png" alt="Suhaefi Fauzian" />
        </div>
        <div class="txt-and-button-wrapper">
          <div class="txt-wrapper">
            <h1>Suhaefi Fauzian</h1>
            <p class="status">Mahasiswa Teknik Informatika</p>
            <p>
              Berpengalaman mengikuti program SIB Dicoding X Kampus Merdeka
              dengan paket Pengembang Front-End dan Back-End. Memiliki minat
              pada bidang pengembangan website menggunakan JavaScript.
            </p>
          </div>
          <div class="button-wrapper">
            <button type="button" class="btn btn-certificate">
              <i data-feather="award" class="btn-icon"></i>
              <span> Sertifikasi </span>
            </button>
            <button type="button" class="btn btn-project">
              <i data-feather="target" class="btn-icon"></i>
              <span> Project </span>
            </button>
            <button type="button" class="btn btn-skill">
              <i data-feather="hash" class="btn-icon"></i>
              <span> Keterampilan </span>
            </button>
          </div>
        </div>
      </div>
    </header>
    <main class="content"></main>
    <footer class="footer">
      <h2>Contact</h2>
      <div class="contact">
        <div class="email">
          <i data-feather="at-sign" class="icon"></i>
          <span>suhaefi21@gmail.com</span>
        </div>
        <div class="linkedin">
          <i data-feather="linkedin" class="icon"></i>
          <span>linkedin.com/in/suhaefi</span>
        </div>
        <div class="location">
          <i data-feather="map-pin" class="icon"></i>
          <span>Kab. Bandung, Jawa Barat</span>
        </div>
      </div>
    </footer>
    <script>
      feather.replace();
    </script>
  </body>
</html>
